* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  /* flex-direction: column; */
  height: 100vh;
  justify-content: center;
  margin: auto;
}

header {
  
}

.gameBoardWrapper {
  display: flex;
  justify-items: space-between;
}

.controls {
  
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  /* height: 50%; */
  justify-content: center;
  max-height: 480px;
  max-width: 200px;
}

#gameOver {
  display: hidden;
}

.littleGrid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  /* height: 50%; */
  justify-content: center;
  max-height: 120px;
  max-width: 120px;
}

.grid div, .littleGrid div {
  border: 1px solid rgb(226, 224, 224);
  flex-grow: 1;
  height: 20px;
  width: 20px;
  /* background-color: white */
}

.tShape {
  background-color: purple;
}
     
.zShape {
  background-color: red;
}

.sShape {
  background-color: green;
}
      
.jShape {
  background-color: blue;
}

.lShape {
  background-color: orange;
}

.iShape {
  background-color: cyan;
}
 
.oShape {
  background-color: rgb(243, 229, 79);
}

h2, h4, p {
  text-align: center;
  margin: 10px 20px;
}

/* .active-shape {
  background-color: orange; // not needed now the shapes are colored
}
*/

/* .occupied-block {
  animation: flash 0.2s;
} */

/* .cleared {
  animation: flash 0.2s;
} */

.gameOverScreen {
  background-color: grey;
  animation: shake 0.4s;
}

/* took the flash animation from animate.css */
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}


@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
